
<div class="card">
    <div class="card-header">
      Actualizar Empleado
    </div>
    <div class="card-body">
        <form action="">
            <div class="mb-3">
            <label for="" class="form-label">Nombre:</label>
              <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Ingrese su nombre completo">
            </div>
            <div class="mb-3">
            <label for="" class="form-label">Correo:</label>
             <input type="email" class="form-control" name="" id="" aria-describedby="helpId" placeholder="example@mail.com">
            </div>
           
            <div class="btn-group">
              <div class="row">
                  <div class="col-sm">
                      <button type="submit" class="btn btn-success">Actualizar</button>
                  </div>
                  <div class="col-sm">
                      <button type="button" class="btn btn-danger" routerLink="/show-people/">Volver</button>
                  </div>
              </div>
              
              
          </div>
       </form>
    </div>
</div>
