
<div class="card">
    <div class="card-header">
       Registrar Empleado
    </div>
    <div class="card-body">

        <!-- *ngFor="add-person" -->
        <form [formGroup]="formularioE" (ngSubmit)="enviarDatos()">

            <div class="mb-3">
              <label for="" class="form-label">Nombre:</label>
              <input type="text" class="form-control" formControlName="nombre" name="" id="" aria-describedby="helpId" placeholder="Ingrese su nombre completo">
            </div>
            <div class="mb-3">
               <label for="" class="form-label">Correo:</label>
               <input type="email" class="form-control" formControlName="correo" name="" id="" aria-describedby="helpId" placeholder="example@mail.com">
            </div>


            <div class="btn-group">
                <button type="submit" class="btn btn-success">Agregar Empleado</button>
                <button type="button" class="btn btn-danger" routerLink="/show-people/">Regresar</button>
            </div>

        </form>

    </div>
</div>
